[submodule "Software/Cpp/Software/Cpp/EUFInterpolant/tests/QF_UF"]
	path = Software/Cpp/Software/Cpp/EUFInterpolant/tests/QF_UF
	url = https://clc-gitlab.cs.uiowa.edu:2443/SMT-LIB-benchmarks/QF_UF.git
